body {
  font-family: sans-serif;
  margin: 40px;
}

textarea {
    border: 0;
    font-size: 20pt;
    font-family: sans-serif;
    outline: 0;
}

.col h3 {
    background-color: aliceblue;
    padding: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin: 10px;
}

#spoken, #written {
    font-size: 20pt;
}

#written img {
    width: 40px;
    height: 40px;
    vertical-align: top;
}

#english {
  height: 500px;
}

.banner img {
  width: 60px;
  height: 60px;
}