body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
}

.full {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
}

textarea {
    border: 0;
    font-size: 20pt;
    font-family: sans-serif;
    outline: 0;
    width: 100%;
    height: 100%;
}

.col h3 {
  border-bottom: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin: 10px;
}

#written {
    font-size: 20pt;
}

#spoken {
  font-size: 15pt;
}

#written img {
    width: 40px;
    height: 40px;
    vertical-align: top;
}

.banner img {
  width: 60px;
  height: 60px;
}

#translate {
  padding: 15px;
  background-color: crimson;
  color: white;
  font-size: 20pt;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: sans-serif;
  cursor: pointer;
}

label {
  font-size: medium;
}
